<div class= "show">

<h1> NAME:  <%= @cocktail.name %> </h1>
<h2> DESCRIPTION: <% @cocktail.doses.each do |dose| %>
<%= dose.description %> - <%= dose.ingredient.name %>

<% end %></h2>

<%= link_to "Delete", cocktail_dose_path(@cocktail.doses),
      method: :delete,
      data: { confirm: "Are you sure?" } %> | <%= link_to "Add dose" , new_cocktail_dose_path(@cocktail)  %> | <%= link_to "Back", cocktails_path %>
</div>

